/* BEGIN CSS Reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent};
body{line-height:1};
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block};
nav ul{list-style:none};
blockquote,q{quotes:none};
blockquote:before,blockquote:after,q:before,q:after{content:none};
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent};
ins{background-color:#ff9;color:#000;text-decoration:none};
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold};
del{text-decoration:line-through};
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help};
table{border-collapse:collapse;border-spacing:0};
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0};
input,select{vertical-align:middle};
* {
    box-sizing: border-box;
}
/* END CSS Reset */

/* BEGIN Variables */

:root {
    --primary-color: #003049;
    --secondary-color: #D62828;
    --tertiary-color: #F77F00;
    --quaternary-color: #FCBF49;
    --quinary-color: #EAE2B7;
}

/* END Variables */

/* BEGIN Utility Styles */

.flex-row {
    display: flex;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--quinary-color);
}

/* END Utility Styles */

/* BEGIN Header Styles */
header {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
}

header h1 {
    font-size: 42px;
    font-weight: bold;
    color: var(--quaternary-color);
    padding: 15px 45px;
}

header a {
    color: var(--tertiary-color);
    text-decoration-color: var(--quaternary-color);
    text-decoration-thickness: .2em;
    text-underline-offset: 5px;
    font-size: 20px;
    padding: 0px 10px;
    transition: text-decoration-color .5s ease-out;
}

header a:hover {
    text-decoration-color: var(--secondary-color);
}

header nav {
    display: flex;
    align-items: center;
    min-width: 25%;
    padding-right: 45px;
}    

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

/* BEGIN Hero Styles */

.hero-image {
    min-height: 300px;
    width: 100%;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.hero-image h3 {
    font-size: 30px;
    color: var(--quaternary-color);
    padding: 15px 10px 10px 10px;
}

.hero-text-box {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 75px;
    background-color: var(--primary-color);
}

/* END Hero Styles */

/* BEGIN Split-Section Styles */

.split {
    margin: 30px auto;
    padding: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.split h2 {
    display: inline-flex;
    flex: 1 15%;
    font-size: 50px;
    text-align: right;
    justify-content: flex-end;
    padding-right: 15px;
    color: var(--tertiary-color);
    border-right: 3px solid var(--quaternary-color);
    min-width: 225px;
}

.split-content {
    display: flex;
    flex: 4 85%;
    flex-wrap: wrap;
    padding-left: 35px;
    color: var(--primary-color);
    line-height: 1.5;
    min-width: 225px;
}

/* END Split-Section Styles */

/* BEGIN Work-Specific Styles */

.primary-application {
    display: flex;
    flex: 0 95%;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    margin: 5px;
}

.secondary-applications {
    display: flex;
    flex-wrap: wrap;
    flex: 1 45%;
    max-width: 45%;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    margin: 5px;
}

/* END Work-Specific Styles */

/* BEGIN Contact Me-Specific Styles */

.contact-me-links {
    display: flex;
    align-items: center;
}

.contact-me-links a {
    text-decoration-thickness: .2em;
    text-underline-offset: 5px;
    font-size: 20px;
    color: var(--tertiary-color);
    text-decoration-color: var(--quaternary-color);
    transition: text-decoration-color .5s ease-out;
    padding: 0px 20px;
}

.contact-me-links a:hover {
    text-decoration-color: var(--secondary-color);
}

.contact-me-links ul {
    display: flex;
    width: 100%;
    /* flex: 1 100%; */
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.contact-me-links ul li {
    display: flex;
    /* flex: 1; */
}

/* END Contact Me-Specific Styles */